<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
    <h1>Welcome to Build a Blog</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/newpost">Write a New Blog</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/all_blogs">All Blogs</a>
    </nav>

    <h2><center>Other Blogs</center></h2>

<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>